name: Release

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Extract Version from Tag
      id: get_version
      run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

    - name: Update POM Version
      run: mvn versions:set -DnewVersion=${{ env.VERSION }} --file LivesPlugin/pom.xml

    - name: Build with Maven
      run: mvn -B package --file LivesPlugin/pom.xml

    - name: Upload Release Asset
      uses: softprops/action-gh-release@v2
      with:
        files: LivesPlugin/target/LivesPlugin-${{ env.VERSION }}.jar
